EMBEDDINGS_MODEL_NAME=cl-nagoya/ruri-v3-310m
EMBEDDINGS_HOST=0.0.0.0
EMBEDDINGS_PORT=8081
EMBEDDINGS_LOG_LEVEL=INFO
EMBEDDINGS_LOG_JSON=true

RERANKER_MODEL_NAME=cl-nagoya/ruri-v3-reranker-310m
RERANKER_HOST=0.0.0.0
RERANKER_PORT=8082
RERANKER_LOG_LEVEL=INFO
RERANKER_LOG_JSON=true
